    <!-- ナビバー -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'aa_account:top' %}">Home Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP APP
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'ab_shop:top' %}">Top</a>
                <a class="dropdown-item" href="{% url 'ab_shop:upload' %}">Upload</a>
                <a class="dropdown-item" href="{% url 'ab_shop:show' %}">Show</a>
              </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello,  {{ user.group }}: {{ user.username }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'aa_account:user_detail' user.pk %}">See user information</a>
                <a class="dropdown-item" href="{% url 'aa_account:user_update' user.pk %}">Update user information</a>
                <a class="dropdown-item" href="{% url 'aa_account:password_change' %}">Change password</a>
                <a class="dropdown-item" href="{% url 'aa_account:email_change' %}">Change email</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'aa_account:logout' %}">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{% url 'aa_account:login' %}">
                Welcome, User! Here is Login.
            </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>